node_modules/
dist/
.env
__pycache__/
*.pyc
*.pyo
venv/
.venv/
*.egg-info/
.DS_Store
backend/model_weights/*.pt
backend/model_weights/*.onnx
backend/model_weights/*.pkl
backend/model_weights/*.bin
# backend/data/X_train.csv
